@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Pacifico&display=swap');

/* variable colors */
:root{
	/* color pallete */
	--mainBrand: #016A70;
	--darkAccent:#647A78;
	--lightAccent: #7FA9AD;
	--darkShades: #202A21;
	--lightShades: #FFFFDD;

	/* others */
	--searchTextColor: #e7e7e7;
	--headColor: #ffc861;
}

a{
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Manrope', sans-serif;
	background: var(--lightShades);
}

/* nav */
#nav {
	background: var(--mainBrand);
	background: linear-gradient(193deg, rgba(0,75,79,1) 0%, rgba(0,88,93,1) 24%, rgba(1,106,112,1) 100%);
    box-shadow: 0px 13px 28px -5px #00000070;
}
/* nav search */
#nav-search {
	background: #f5f5f53f;
}
	#nav-search i{
		color: var(--searchTextColor);
	}
	#nav-search input {
		background: none;
		border: none;
		color: var(--searchTextColor);
	}
		#nav-search i {
			color: var(--searchTextColor);
		}
		#nav-search input::placeholder {
			color: var(--searchTextColor);
		}
		#nav-search input:focus {
			outline: none;
		}

/* showcase */
#main-showcase{
	max-height: 500px
}
	/* carousel */
	.carousel-image {
		
		filter: brightness(65%);
		height: 120vw;
		max-height: 500px;
		background-blend-mode: multiply;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
		/* caption */
		.carousel-caption h5{
			font-size: 3em;
			color: var(--headColor);
			font-family: 'Pacifico', cursive;
		}

/* brush */
.brush{
	height: 20px;
	background-image: url('../../img/bg/colored\ brush.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* NAV CARDS */

.nav-link-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* PAGE LINKS */
/* page links */
.plink-container{
	flex: 2;
	padding: 10px;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	display: flex;
		aspect-ratio: 16 / 9 ;
		align-items: flex-end;
		flex-direction: row;
		flex-wrap: wrap;
	font-size: 16px;
	text-decoration: none;
	background-size: cover;
	background-position: center;
	
	animation: plinkOut 0.5s ease-out 0s 1 forwards;
}
	/* plink on active */
	.plink-container:active{
		box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	}
	/* plink on hover */
	.plink-container:hover{
		animation: plinkIn 0.5s ease-out 0s 1 forwards;
	}
		@keyframes plinkIn {
			0% {
				background-size: 150%;
			}
		
			100% {
				background-size: 200%;
			}
		}
		@keyframes plinkOut {
			0% {
				background-size: 200%;
			}
			100% {
				background-size: 150%;
			}
		}

			/* double card */
			#double-card .plink-container{
				aspect-ratio: 1/1;
			}

		.plink-container::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
		}



		/* text */
		.plink-text{
			height: 30%;
			z-index: 1;
			padding: 10px 0 10px 20px;
			flex: 4;
			display: flex;
				justify-content: center;
				flex-direction: column;
		}
			.plink-gentitle{
				width: 40%;
				font-size: 1rem;
				font-family: 'Pacifico', cursive;
					color: #D7D7D7;
			}
				/* yellow line */
				.plink-subtitle::before{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 4rem;
					border-top: #ffc861 1px solid;
					height: 100%;
				}
			.plink-subtitle{
				position: relative;
				font-size: 1.2rem;
				padding-top: 0.5rem;
			}
		/* arrow */
		.arrow-container{
			position: relative;
			color: #ffffff;
			z-index: 1;
			flex: 1;
			height: 30%;
			display: flex;
				justify-content: center;
				align-items: center;
			
			animation: arrowDown 0.3s ease-out 0s 1 forwards;
		}
			/* animation */
			.plink-container:hover .arrow-container{
				animation: arrowUp 0.3s ease-out 0s 1 forwards;
			}
				@keyframes arrowUp {
					0% {
						transform: rotate(0deg);
						left: 0;
					}
				
					100% {
						transform: rotate(-45deg);
						left: -3px;
					}
				}
				@keyframes arrowDown {
					0% {
						transform: rotate(-45deg);
						left: -3px;
					}
					100% {
						transform: rotate(0deg);
						left: 0;
					}
				}

	/* crop */
	#plink-crop{
		background-image:
			url('https://images.unsplash.com/photo-1578652903016-b78571b87410?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'), /* First image */
			url('https://images.unsplash.com/photo-1543218024-57a70143c369?auto=format&fit=crop&q=80&w=1935&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'), /* Second image */
			url('https://images.unsplash.com/photo-1585369496137-6b539c324adc?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Third image */
			background-size: 32% 100% , 37% 100% , 32% 100%;
			background-repeat: no-repeat;
			background-position: left, center, right;

		animation: plinkCropOut 0.5s ease-out 0s 1 forwards;
	}
		#plink-crop:hover{
			animation: plinkCropIn 0.5s ease-out 0s 1 forwards;
		}
			@keyframes plinkCropIn {
				0% {
					background-size: 32% 100% , 37% 100% , 32% 100%;
				}
			
				100% {
					background-position: -25%, center, 125%;
					background-size: 40% 125% , 52% 125% , 40% 125%;
				}
			}
			@keyframes plinkCropOut {
				0% {
					background-position: -25%, center, 125%;
					background-size: 40% 125% , 52% 125% , 40% 125%;
				}
				100% {
					background-size: 32% 100% , 37% 100% , 32% 100%;
				}
			}



	/* map */
	#plink-map{
		background-image: url('../../img/bg/sarangani\ bg.png');
	}


	/* tribe */
	#plink-tribe{
		background-image: url('https://images.unsplash.com/photo-1545830790-68595959c491?auto=format&fit=crop&q=80&w=1935&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	}

	/* farm */
	#plink-farm{
		background-image: url('https://images.unsplash.com/photo-1513415756790-2ac1db1297d0?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	}

	/* TAGS AND SOCIALS*/
#landing-tags,  #landing-socials{
	background-color: #647a7870;
	border-radius: 0.5rem;
}
	/* tags */
		/* titles */
		#landing-tags h4, 
		#landing-socials h4{
			color: var(--lightShades);
			border-bottom: 3px var(--lightShades) solid;
			font-size: 1rem;
		}
		/* links */
		#landing-tags a{
			background-color: var(--lightShades);
			text-decoration: none;
			color: var(--darkShades);
			font-size: 0.6rem;
		}
			#landing-tags a:hover{
				background-color: #d8d8a3;
				color: var(--lightShades);
				cursor: pointer;
			}
			#landing-tags a:active{
				background: #fff;
				color: var(--darkShades);
			}

	/* socials */
	#landing-socials a{
		color: var(--lightShades);
    }
		#landing-socials i{
			font-size: 1.5rem;
			cursor: pointer;
		}
			#landing-socials i:hover{
				color: #e9e9b2;
			}
			#landing-socials i:active{
				color: #ffffff;
			}


/* FOOTER */
#foot{
	background: #015b60;
	background-image: url('../../img/bg/footer-bg.png'),
		url('../../img/bg/leaf\ .png');
	background-repeat: no-repeat, no-repeat;
	background-position: left bottom, right bottom;
	background-size: 500px 250px, 300px 300px;
}

	/* logo */
	#foot-logo{
		background-image: url('../../img/logo/Uma\ logo.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			aspect-ratio: 1/1;
			height: 75px;
		margin-bottom: 10px;
	}

	/* credits */
	#credits{
		background: #024649;
	}