/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    display: flex;
        justify-content: center;
        align-items: center;
}

body{
    font-family: 'Manrope', sans-serif !important;
    font-weight: 400;
    font-size: 18px;
    min-width: 820px;
    max-width: 2000px;
    height: 2000px;
    color: #000;
}

/* links */
a:visited{
    color: #fff;
}
a{
    text-decoration: none;
}


ul{
    padding: 0;
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}

/* nav bar */
#nav{
    color: white;
    width: 100%;
    height: 100px;
    padding: 0 50px;

    /* bg */
    background: linear-gradient(62.33deg, #1F4E3D 39.95%, rgba(0, 116, 74, 0.99) 119.87%);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row nowrap;

    font-size: 16px;
    font-weight: 600;
}

    /* logo */
    #main-logo{
        /* border: white solid 1px; */
        background-image: url('../../img/logo/logo navbar.svg');
            background-position: center;
            background-size: 80% auto;
            background-repeat: no-repeat;
        min-width: 150px;
        min-height: 100px;
    }

    /* nav list */
    #nav-list{
        display: flex;
            flex-flow: row nowrap;
    }

        /* navs */
        #nav-list li{
            padding: 0 10px;
        }
            /* navs */
            #nav-list li i{
                padding: 5px;
            }


/* title section */
#title-section {
    color: white;
    min-height: 400px;
    max-height: 500px;
    background-image: linear-gradient(20deg, rgba(0, 0, 0, 0.5) 39.73%, rgba(0, 0, 0, 0.27) 72.36%), url("../../img/bg/parallax bg.png");
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
    display: flex;
        flex-direction: column;
        justify-content: center;
    padding: 20% 30% 20% 10%;
}

    #title-section h1, #title-section h2{
        font-family: 'Pacifico', cursive;
    }

    /* header */
    #title-section h1{
        margin-left: -15px;
        line-height: 80px;
            font-size: 80px;
            color: #F7C35F;
    }
    /* subtitle */
    #title-section h2{
        line-height: 25px;
            font-size: 25px;
    }

    /*dispcription */
    #title-section p{
        margin: 40px 0;
    }

    /* discover link */
    #title-section a{
        background: #F7C35F;
        width: 180px;
        border-radius: 10px;
        text-align: center;
        padding: 18px 0;
            font-size: 18px;
            font-weight: 600;
            color: #000;
    }
        #title-section a:hover{
            background: #a38244;
            color: #e0e0e0;
        }
        #title-section a:active{
            background: #fdd996;
            color: #000;
        }

/* page links */
#page-links-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

@media (max-width: 600px) {
    .page-links-container {
      flex-direction: column; /* Stack columns vertically */
    }
}

    /* brushes */
    .brush{
        position: absolute;
        height: 10px;
        width: 100%;
        background-image: url("../../img/bg/brush.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
    }
        /* upper */
        #upperbrush{
            top: 2px;
            left: 100%;
            transform: translate(-100%, -100%); 
            padding: 10px;
        }
        /* lower */
        #lowerbrush{
            display: none;
        }

    /* columns */
    .page-link-column{
        /* border: 1px red solid; */
    }


        /* left */
        #plink-column-left{
            flex: 2;
            padding: 20px;
            display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        }

            /* page links */
            .plink-container{
                margin: 30px;
                width: 60%;
                flex: 2;
                border-radius: 15px;
                overflow: hidden;
                position: relative;
                display: flex;
                    aspect-ratio: 2 / 1 ;
                    align-items: flex-end;
                    flex-direction: row;
            }
                    .plink-container::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
                    }

                    /* text */
                    .plink-text{
                        border: 1px red solid;
                        color: #fff;
                        height: 30%;
                        z-index: 1;
                        padding: 10px 0 10px 20px;
                        flex: 4;
                    }
                        .plink-gentitle{
                            border-bottom: #c9cc03 1px solid;
                            width: 40%;
                            font: 20px;
                            font-family: 'Pacifico', cursive;
                                color: #D7D7D7;
                        }
                        .plink-subtitle{
                            
                        }
                    /* arrow */
                    .plink-arrow{
                        border: cyan solid 1px;
                        color: #ffffff;
                        z-index: 1;
                        flex: 1;
                        height: 30%;
                        display: flex;
                            justify-content: center;
                            align-items: center;
                        transform: rotate(-45deg);
                    }

                /* crop */
                #plink-crop{
                    background-image:
                        url('https://images.unsplash.com/photo-1613728913341-8f29b02b8253?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80'), /* First image */
                        url('https://images.unsplash.com/photo-1530541835461-dedaf9cf368a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNyb3B8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60'), /* Third image */
                        url('https://images.unsplash.com/photo-1529313780224-1a12b68bed16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80'); /* Second image */
                        background-size: 32% 100% , 37% 100% , 32% 100%;
                        background-repeat: no-repeat;
                        background-position: left, center, right;
                }



                /* map */
                #plink-map{
                    background-image: url('../../img/bg/sarangani\ bg.png');
                    background-size: cover;
                    background-position: center;
                }


                /* tribe */
                #plink-tribe{
                    background-image: url('https://images.pexels.com/photos/15092353/pexels-photo-15092353/free-photo-of-farmer-and-carabao-on-rice-field.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
                    background-size: cover;
                    background-position: center;
                }

            


        /* right */
        #plink-column-right{
            flex: 1;
            /* background-color: #ddd; */
            padding: 10px;
        }
