/* variable colors */
:root {
	/* color pallete */
	--mainBrand: #016A70;
	--darkAccent: #647A78;
	--lightAccent: #7FA9AD;
	--darkShades: #202A21;
	--lightShades: #FFFFDD;

	/* others */
	--searchTextColor: #e7e7e7;
	--headColor: #ffc861;
}

.disabled-input {
	pointer-events: none;
	background-color: #f8f9fa;
	/* You can customize the background color */
	color: #6c757d;
	/* You can customize the text color */
}

.clickable {
	cursor: pointer;
	color: blue;
	/* or any other color you prefer for links */
	text-decoration: underline;
}

#form-panel {
	background: var(--lightShades);
}

/* CSS FOR IMAGES */
.image-preview {
	display: inline-block;
	position: relative;
	margin-right: .05rem!important;
	height: 200px;
}

.image-preview img {
	padding: 0.25rem;
	background-color: var(--bs-body-bg);
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	height: 200px;
}

.delete-button {
	position: absolute;
	top: 0;
	right: 0;
	color: red;
	border: none;
	cursor: pointer;
}