@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Pacifico&display=swap');

/* variable colors */
:root{
	/* color pallete */
	--mainBrand: #016A70;
	--darkAccent:#647A78;
	--lightAccent: #7FA9AD;
	--darkShades: #202A21;
	--lightShades: #FFFFDD;

	/* others */
	--searchTextColor: #e7e7e7;
	--headColor: #ffc861;
}

a{
	color: #fff;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Manrope', sans-serif;
	background: var(--lightShades);
	font-family: 'Manrope', sans-serif;
}
/* NAV CARDS */
/* title and filter */
#crops-title{
	color: var(--darkShades);
}
#filter-search input{
	background: var(--lightShades);
}

.list-box{
	font-size: 3rem;
	color: black;
	width: 3.5rem;
}

/* crop cards */
.crop-card{
	border-radius: 0.5rem;
	background: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 1/1;

	position: relative;
	overflow: hidden;

	
	animation: cardOut 0.5s ease-out 0s 1 forwards;
}
	/* card active */
	.crop-card:active{
		box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	}
		
	/* card hover */
	.crop-card:hover{
		animation: cardIn 0.5s ease-out 0s 1 forwards;
	}
		@keyframes cardIn {
			0% {
				background-size: 150%;
			}
		
			100% {
				background-size: 200%;
			}
		}
		@keyframes cardOut {
			0% {
				background-size: 200%;
			}
			100% {
				background-size: 150%;
			}
		}

	/* background dark to fade gradient */
	.crop-card::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
		z-index: 0;
	}

	/* card text */
	.crop-card-text{
		color: #fff;
		z-index: 1;
		font-family: 'Pacifico', cursive;
		color: #D7D7D7;
	}
		/* text */
		.crop-card:hover .crop-name{
			color: var(--headColor);
		}
		/* arrow */
		.arrow-container{
			position: relative;
			color: #ffffff;
			flex: 1;
			display: flex;
			justify-content: end;
			align-items: center;
			
		}
			.arrow-container i{
				top: -2rem;
				right: 0;
				animation: arrowDown 0.5s ease-out 0s 1 forwards;
		}
			/* animation */
			.crop-card:hover .arrow-container i{
				animation: arrowUp 0.5s ease-out 0s 1 forwards;
			}
				@keyframes arrowUp {
					0% {
						transform: rotate(0deg);
						right: 0;
					}
				
					100% {
						transform: rotate(-45deg);
						right: 0.3rem;
					}
				}
				@keyframes arrowDown {
					0% {
						transform: rotate(-45deg);
						right: 0.3rem;
					}
					100% {
						transform: rotate(0deg);
						right: 0;
					}
				}
	/* for table in crops */
	.card-header {
		padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
		margin-bottom: 0;
		color: var(--bs-card-cap-color);
		background-color: var(--bs-card-cap-bg);
		border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
	}
