@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Pacifico&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Manrope', sans-serif;
	background: #ffffdd;
}

/* nav */
#nav {
	color: white;
	background: #004b4f;
	background: linear-gradient(
		193deg,
		rgba(0, 75, 79, 1) 0%,
		rgba(1, 106, 112, 1) 100%
	);
    box-shadow: 0px 13px 28px -5px rgba(0,0,0,0.44);
}
/* nav search */
#nav-search {
	background: #f5f5f53f;
}
:root {
	--searchTextColor: rgb(231, 231, 231);
}
#nav-search input {
	background: none;
	border: none;
	color: var(--searchTextColor);
}
#nav-search i {
	color: var(--searchTextColor);
}
#nav-search input::placeholder {
	color: var(--searchTextColor);
}
#nav-search input:focus {
	outline: none;
}

/* showcase */
#main-showcase{
	max-height: 500px
}
/* carousel */
.carousel-image {
	
	filter: brightness(65%);
	height: 120vw;
	max-height: 400px;
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/* caption */
.carousel-caption h5{
	font-size: 3em;
	color: #ffc861;
	font-family: 'Pacifico', cursive;
}

/* brush */
.brush{
	height: 20px;
	background-image: url('../../img/bg/colored\ brush.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* NAV CARDS */
#nav-cards{
	
}



.nav-link-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
